    :root

    body {
        background: linear-gradient(130deg, #040536, #1944a0, #7e20d6);
        background-size: 100% 100%;
    }
    @keyframes colors {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 50% 100%;
        }
        100% {
            background-position: 100% 0%;
        }

    }

    .em_cima{
            height: 5vh;
            width: 70%;
            background-color: #185252;
            margin:auto;
            margin-right: 27%;
            display:flex;
            align-items:center;
            justify-content:center;
            gap: 5%;
            border-radius: 20px;
            transition: 1s;
            
    }
    
        #historia{
            background-color: #aaaaff;
            color: #191b31;
            font-family:Impact, 'Arial Narrow Bold', sans-serif;
            box-shadow: #040536 10px;
            width: 15%;
            margin-top: 1px;
            text-align: center;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }
        
        #redes{
            background-color: #aaaaff;
            color: #191b31;
            font-family:Impact, 'Arial Narrow Bold', sans-serif;
            box-shadow: #040536 10px;
            width: 15%;
            margin-top: 1px;
            text-align: center;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }

        #AD{
            background-color: #aaaaff;
            color: #191b31;
            font-family:Impact, 'Arial Narrow Bold', sans-serif;
            box-shadow: #040536 10px;
            width: 15%;
            margin-top: 1px;
            text-align: center;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }

        #outros{
            background-color: #aaaaff;
            color: #191b31;
            font-family:Impact, 'Arial Narrow Bold', sans-serif;
            box-shadow: #040536 10px;
            width: 15%;
            margin-top: 1px;
            text-align: center;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }
    .entre_cima_e_meio{
                height: 1ch;
                width: 100;
        }
    #meio{
        height: 80vh; 
        width: 95%;
        background-color:#99ffff;
        font: bold 13pt serif;
        color: #23232c;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px groove #444444;
        border-radius: 20px;
        gap: 3px;
    }
    #minhahistoria{
        font: bold 13pt serif;
        color: #23232c;

    }
.entre_meio_e_cima{
                height: 1ch;
                width: 100;
        }

    .em_baixo{
        height: 5vh;
        width: 40%;
        background-color: #185252;
        margin:auto;
        margin-left: 56%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        border-radius: 20px;
        transition: 1s;
        font-family:Impact, 'Arial Narrow Bold', sans-serif;

    }

    .whatsapp{
        color: #0e0101;
        border-bottom: 1px ridge #00000050;
        cursor: pointer;
    }

    .instagram{
        color: #0e0101;
        border-bottom: 1px ridge #00000050;
        cursor: pointer;
    } 
                            
    .telegram{
        color: #0e0101;
        border-bottom: 1px ridge #00000050;
        cursor: pointer;
    }

    .fim{
                    height: 4vh;
                    width: 95%;
            }
    
